*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
    background-image: url("imagenes/Título.png"); 
}
/*Se usa la propiedad stcky ya que fue la única solución que se encontro, ya que en un principio se uso fixed*/
header{
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1;
    background-color: rgb(111, 166,255);
}
header h1{
    background-color: rgb(111, 166,255);
    padding: 1%;
}
header nav{
    background-color: rgb(19, 7, 3);
    overflow: hidden;
    font-size: medium;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
header nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
header nav ul li{
    display: flex;
    justify-content:center ;
}
header nav ul li a{
    padding: 10px 20px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 2vw;
}
header nav ul li a:hover{
    background-color: rgb(127, 127, 127);
    cursor: url("imagenes/Iconos/1.png"),auto;
}

h2{
    font-family: "Libre Baskerville", serif;
}
section p,section a,label{
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
}

/*Se usa este estilo de texto para toddas las páginas*/
section{
    background-color: rgb(124, 233, 255);
    border-radius: 20px;
    padding: 5%;
    margin: 5% auto;
    width: 20%;
}
section h2{
    text-align: center;
    font-size: 3vw;
    background-color: #fff;
    padding: 2%;
    border-radius: 15px;
}
form{
    padding: 5%;
}
#Usuario{
    width: 95%;
    padding: 1%;
}
#Contraseña{
    width: 95%;
    padding: 1%;
}
#login{
    border-radius: 10px;
    padding: 3%;
    cursor: url("imagenes/Iconos/1.png"),auto;
}
/*Se cambia al cursor de nuestra empresa al pasar por encima*/
form div,form button{
    margin-top: 10%;
}
#registrate{
    text-decoration: none;
    color: #0004ff;
    cursor: url("imagenes/Iconos/1.png"),auto;
}